@use "../settings";

    .gallery-body {
        width: 1210px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        padding-top: 35px;
        padding-bottom: 40px;
        justify-items: center;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        background: $color3;

        @media  screen and (max-width : 1270px){
             display: flex;
             width: 100%;
             flex-direction: column;
             padding-top: 0;
             grid-row-gap: 15px;
        }
        
        .content-h3 {
            display: flex;
            align-items: flex-end;
            border-radius: 20px;
            width: 340px;
            height: 340px;
            background: rgba(255,96,96,1);
            
            @media  screen and (max-width : 1270px){
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                width: 100%;
            }
        }
        h3 {
            display: flex;
            position: absolute;
            width: 170px;
            height: 52px;
            color: $color2;
            font-family: $font1;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            padding-bottom: 60px;
            padding-left: 20px;

            @media  screen and (min-width: 270px)  and (max-width : 1270px){
                display: flex;
                min-width: 135px;
                margin: 0;
                padding: 0 0 0 10px;
                }
            
        }
        .itemCover {
            width: 340px;
            height: 340px;
            border-radius: 20px;

            @media  screen and (max-width : 1270px){
                display: flex;
                width: 100%;
            }
        }
    }
