@use '../settings';

.container-description {
    display: flex;
    justify-items: start;
    align-items: center;
    height: 52px;
    width: 582px;
    border-radius: 20px;
    
    .content-description {
        display: flex;
        align-items: center;
        width: 582px;
        height: 52px;
        border-radius: 15px;
        background: $color1;
        color: $color3;
        border-radius: 20px;

        .description-h3 {
            display: flex;
            font-family: $font1;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            color: $color2;
            padding-left: 10px;
            align-items: center;

        }
    }       
}
