@use "../settings";


.content-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100vw;
    height: 209px;
    background-color: $color;
    align-items: center;
    padding: 20px;
    margin-top: 30px;

    @media  screen and (max-width : 1290px){
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        gap: 25px;
        }

    .footer_logo {
        width: 122px;
        height: 40px;

        @media  screen and (max-width : 1290px){
            display: flex;
            width: 122px;
            height: 40px;
            }
    }
    p {
        display: flex;
        justify-content: center;
        font-family: $font1;
        color: $color2;
        font-size: 24px;
        align-items: center;
        font-weight: 500;
        height: 46px;
        max-width: 1240px;

        @media  screen and (max-width : 1290px){
            display: flex;
            flex-direction: column;
            width: 200px;
            }

    }
}
