@use '../settings';

.content-header {
    min-width: 1240px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:690px;
    align-items: center;
    margin: 20px 20px 35px;
    font-family: $font1;

    @media  screen and (min-width: 270px)  and (max-width : 1270px){
        display: flex;
        min-width: 270px;
        gap: 0px;
        margin: 20px 0 0 0;
    }
    
    .nav-header {
        display: flex;
        justify-content: space-around;
        width: 335px;
        height: 46px;

        @media  screen and (min-width: 270px)  and (max-width : 1270px){
            display: flex;
            align-items: center;
            min-width: 190px;
            height: 17px;
            justify-content: center;
        }
    }
    
    .ul-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        list-style: none;
        margin: 0;

        @media  screen and (min-width: 270px)  and (max-width : 1270px){
            display: flex;
            min-width: 190px;
            height: 17px;
            margin: 0;
            align-items: center;
        }
        
        .li-header {
            display: flex;
        
         a {
            display: flex;
            text-decoration: none;
            font-family: $font1;
            font-size: 24px;
            font-weight: 500;
            color: $color;

            @media  screen and (min-width: 270px)  and (max-width : 1270px){
                font-size: 12px;
                line-height: 17px;
                font-weight: 500;
                text-transform: uppercase;
            }
         }

        .nav-active {
            padding-bottom: 5px;
                text-decoration:underline;
            }
        }
    }

    img {
        width: 210px;
        height: 68px;
    }
}
