@use '../settings';

.content-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1240px;
    height: 100%;

    @media  screen and (min-width: 270px)  and (max-width : 1270px){
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .description-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1240px;
        height: 100%;
        padding: 10px;

        @media  screen and (min-width: 270px)  and (max-width : 1270px){
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 100%;
        }
        
        .Title-logement {
            display: flex;
            flex-direction: column;

            @media  screen and (min-width: 270px)  and (max-width : 1270px){
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            
            .title-content {
                display: flex;
                flex-direction: column;

                h1 {
                    display: flex;
                    font-family: $font1;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 51px;
                    height: 51px;
                    width: 870px;
                    color: $color1;
                    margin: 0;
                    padding: 0;
                }
                h3 {
                    display: flex;
                    align-items: center;
                    font-family: $font1;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25px;
                    height: 26px;
                    padding-top: 5px;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .carousel-title {
            display: flex;
            width: 170px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @media  screen and (min-width: 270px)  and (max-width : 1270px){
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                width: 100%;
                padding-top: 25px;
            }

            .carousel-host {
                display: flex;
                gap: 10px;

                h3 {
                    display: flex;
                    font-family: $font1;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    color: $color1;
                    text-align: right;

                }
                .host {
                    height: 64px;
                    width: 64px;
                    border-radius: 30px;
                }
            }
            .rating {
                display: flex;
                justify-content: space-evenly;
                color: $color1;
                top: 10px;

                .stars_settings {
                    display: flex;
                    margin-left: 10px;
                    color: $color1; 
                }

                .starEmpty {
                    color: $color4;
                }
            }
        }
    }
}
