@use '../settings';

.content-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media  screen and (max-width: 590px) {
        display: flex;
        margin-top: -20px

    }
    .h1-error {
        align-items: center;
        width: 597px;
        height: 306px;
        font-family: $font1;
        font-size: 288px;
        font-weight: 700;
        line-height: 410px;
        color: $color1;

         @media  screen and (max-width: 590px) {
            display: flex;
             justify-content: center;
             align-items: center;
             font-size: 136px;
             height: 150px;
           }
    }
    .content-error-first {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 105px;

        @media screen and (max-width:590px) {
            display: flex;
            width: 50%;
            margin-top: 60px
        }
    
    .h2-error {
        display: flex;
        justify-content: center;
        width: 872px;
        height: 51px;
        font-family: $font1;
        font-size: 32px;
        font-weight: 500;
        line-height: 51px;
        color: $color1;
        padding-top: 60px;

    
         @media  screen and (max-width: 590px) {
            display: flex;
            flex: 0 0 70%;
             justify-content: center;
             align-items: center;
             font-size: 22px;
           }
    }
}
    a {
        position: relative;
        padding-top: 60px;

    .p-error {
        width: 284px;
        height: 26px;
        font-family: $font1;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: $color;
    }
}
}
