@font-face {
    font-family: "Montserrat";
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial;
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media  screen and (min-width: 270px)  and (max-width : 1270px){
        display: flex;
        min-width: 270px;
    }

}
#root {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1240px;
    overflow-x: hidden;

    @media  screen and (min-width: 270px)  and (max-width : 1270px){
        border: 3px solid blue;
        display: flex;
        min-width: 270px;
    }
}

$font1: "Montserrat", Arial;

$color: #000000;
$color1: #FF6060;
$color2: #FFFFFF;
$color3: #F6F6F6;
$color4: #C4C4C4


