@font-face {
    font-family: "Montserrat";
    src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial;
    text-decoration: none;
    
}
.body {
    display: flex;
    justify-content: center;
    min-height: 1302px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media  screen and (max-width: 820px) {
        display: flex;
        font-size: 10px;
      }

}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    width: 1440px;
    height: 100%;

}

$font1: "Montserrat", Arial;

$color: #000000;
$color1: #FF6060;
$color2: #FFFFFF;
$color3: #F6F6F6;
$color4: #C4C4C4
